
/* src/components/Todo.css */

body{

}

.todo-container{
background: rgb(247, 242, 242);
width: 80vw;
margin: 10em auto;
border-radius: 15px;
padding: 20px 10px;
color: rgb(15, 13, 13);
border: 3px solid rgb(36, 110, 194);
}


thead button {
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1px;
}

thead button.ascending::after {
  font-family: FontAwesome;
  content: '👇';
  display: inline-block;
 
}

thead button.descending::after {
  content: '☝️';
  display: inline-block;
  
}

    
.item{

border-radius: 5px;

margin: 0.5em;
}

.hidden { display:none; }
.visible { display:inline; }
.item button{
background: rgb(12, 124, 251);
border-radius: 5px;
margin: 0px 5px;
padding: 3px 5px;
border: none;
cursor: pointer;
color: white;
float: right;
}

.item img{
  background: rgb(12, 124, 251);
  border-radius: 5px;
  margin: 0px 5px;
  padding: 0px 10px;
  border: none;
  cursor: pointer;
  color: white;
  float: none;
  }

  .item  img:hover {
    
    transform: scale(10) rotate(-360deg);
    }

.header{
margin: 0.5em;
font-size: 2em;
text-align: center;
}

.create-item input[type=text]{
margin: 2.5em 2em;
width: 25%;
outline: none;
border: none;
padding: 0.7em;
}

.create-item input[type=number]{
  margin: 2.5em 2em;
  width: 25%;
  outline: none;
  border: none;
  padding: 0.7em;
  }

h1,
p {
  font-family: Lato;
  text-align: center;
}

.container {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.placeholder {
  height: 45px;
  width: 45px;
  transform: rotate(90deg);
  background-color: pink;
  padding: 20px;
}

.fileuploaderdnd-container {
  height: 15px;
  width: 15px;

  background-color: #87879231;
  padding: 20px;
}

.input-img-file-file {
  display: none;
}

.fileuploaderdnd-container-button {
  position: relative;
  top: 180px;
  display: grid;
  place-items: center;
}

.fileuploaderdnd-container-text {
  font-size: 25px;
  color: black;
  opacity: 75%;
  margin-top: 12px;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.footer {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}